// Colors

$text-color: #2c2c2c;
$input-text-colr: #505050;
$light-green-color: #bbf330;
$dark-green-color: #7eb101;
$yellow-main-color: #ffe550;
$white-color: #fefefe;
$black-color: #2c2c2c;
$text-color-black: #000000;
// Text-style

$main-font: Roboto, sans-serif;
