<section id="customers-say" class="customer-say__section">
  <div class="container customer-say__container">
    <h2 class="customer-say__title">What our Customers Say</h2>
    <p class="customer-say__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers-say__list">
      <li class="customers-say__item set__item">
        <div class="review">
          <ul class="stars__list">
            <li class="stars__item">
              <svg class="stars__icon" width="17px" height="16px">
                <use href="./images/icons/icons.svg#star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg class="stars__icon" width="17px" height="16px">
                <use href="./images/icons/icons.svg#star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg class="stars__icon" width="17px" height="16px">
                <use href="./images/icons/icons.svg#star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg class="stars__icon" width="17px" height="16px">
                <use href="./images/icons/icons.svg#star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg class="stars__icon" width="17px" height="16px">
                <use href="./images/icons/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <p class="review__text">
            “The Best app I have used to order food in a while, so many options
            to choose from too, I would recommend to a freind, No questions
            asked”
          </p>
          <div class="review__card">
            <img
              class="review__photo"
              srcset="
                ./images/customers-say/man-photo48.png 48w,
                ./images/customers-say/man-photo96.png 96w
              "
              sizes="(min-width: 1280px) 48px, (min-width: 768px) 48px, (min-width: 480px) 48px, 100vw"
              src="./images/customers-say/man-photo48.png"
              alt="Cliet photo"
              width="48"
              height="48"
            />
            <div class="review__holder">
              <h3 class="review__name">Sumith Shah</h3>
              <p class="review__info">Some Dude</p>
            </div>
          </div>
        </div>
      </li>
      <li class="customers-say__item set__item">
        <div class="review">
          <ul class="stars__list">
            <li class="stars__item">
              <svg class="stars__icon" width="17px" height="16px">
                <use href="./images/icons/icons.svg#star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg class="stars__icon" width="17px" height="16px">
                <use href="./images/icons/icons.svg#star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg class="stars__icon" width="17px" height="16px">
                <use href="./images/icons/icons.svg#star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg class="stars__icon" width="17px" height="16px">
                <use href="./images/icons/icons.svg#star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg class="stars__icon" width="17px" height="16px">
                <use href="./images/icons/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <p class="review__text">
            “The ease with which I can just go in and order what i want was
            amazing, It has been a very pleasant experience ordering from this
            app”
          </p>
          <div class="review__card">
            <img
              class="review__photo"
              srcset="
                ./images/customers-say/woman-photo48.png 48w,
                ./images/customers-say/woman-photo96.png 96w
              "
              sizes="(min-width: 1280px) 48px, (min-width: 768px) 48px, (min-width: 480px) 48px, 100vw"
              src="./images/customers-say/woman-photo48.png"
              alt="Cliet photo"
              width="48"
              height="48"
            />
            <div class="review__holder">
              <h3 class="review__name">Sumith Shah</h3>
              <p class="review__info">Some Dude</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- <section class="spike__subscribe" ></section> -->
