<section class="favorites">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-gallery">
      <li class="favorites-gallery__item">
        <a class="favorites-gallery__link" href="/src/index.html">
          <img
            class="favorites-gallery__img"
            src="/src/images/favorites/gamburger224.png"
            alt="gamburger"
          />
        </a>
      </li>
      <li class="favorites-gallery__item">
        <a class="favorites-gallery__link" href="/src/index.html">
          <img
            class="favorites-gallery__img"
            src="/src/images/favorites/pasta225.png"
            alt="pasta"
          />
        </a>
      </li>
      <li class="favorites-gallery__item">
        <a class="favorites-gallery__link" href="/src/index.html">
          <img
            class="favorites-gallery__img"
            src="/src/images/favorites/pizza224.png"
            alt="pizza"
          />
        </a>
      </li>
      <li class="favorites-gallery__item favorites-gallery__item--invisible">
        <a class="favorites-gallery__link" href="/src/index.html">
          <img
            class="favorites-gallery__img"
            src="/src/images/favorites/chicken315.png"
            alt="chicken"
          />
        </a>
      </li>
      <li class="favorites-gallery__item favorites-gallery__item--invisible">
        <a class="favorites-gallery__link" href="/src/index.html">
          <img
            class="favorites-gallery__img"
            src="/src/images/favorites/salat315.png"
            alt="salat"
          />
        </a>
      </li>
      <li class="favorites-gallery__item favorites-gallery__item--invisible">
        <a class="favorites-gallery__link" href="/src/index.html">
          <img
            class="favorites-gallery__img"
            src="/src/images/favorites/borshch315.png"
            alt="borshch"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
