<section class="favorites anchor" id="favorites">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-gallery">
      <li class="favorites-gallery__item">
        <a class="favorites-gallery__link" href="/src/index.html">
          <img
            class="favorites-gallery__img"
            srcset="
              /src/images/favorites/gamburger224.png 224w,
              /src/images/favorites/gamburger268.png 268w,
              /src/images/favorites/gamburger315.png 315w,
              /src/images/favorites/gamburger448.png 448w,
              /src/images/favorites/gamburger536.png 536w,
              /src/images/favorites/gamburger630.png 630w
            "
            sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 320px) 224px"
            src="/src/images/favorites/gamburger224.png"
            alt="gamburger"
          />
        </a>
      </li>
      <li class="favorites-gallery__item">
        <a class="favorites-gallery__link" href="/src/index.html">
          <img
            class="favorites-gallery__img"
            srcset="
              /src/images/favorites/pasta225.png 225w,
              /src/images/favorites/pasta268.png 268w,
              /src/images/favorites/pasta315.png 315w,
              /src/images/favorites/pasta449.png 449w,
              /src/images/favorites/pasta536.png 536w,
              /src/images/favorites/pasta630.png 630w
            "
            sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 320px) 224px"
            src="/src/images/favorites/pasta225.png"
            alt="pasta"
          />
        </a>
      </li>
      <li class="favorites-gallery__item">
        <a class="favorites-gallery__link" href="/src/index.html">
          <img
            class="favorites-gallery__img"
            srcset="
              /src/images/favorites/pizza224.png 224w,
              /src/images/favorites/pizza268.png 268w,
              /src/images/favorites/pizza315.png 315w,
              /src/images/favorites/pizza448.png 449w,
              /src/images/favorites/pizza536.png 536w,
              /src/images/favorites/pizza630.png 630w
            "
            sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 320px) 224px"
            src="/src/images/favorites/pizza224.png"
            alt="pizza"
          />
        </a>
      </li>
      <li class="favorites-gallery__item favorites-gallery__item--invisible">
        <a class="favorites-gallery__link" href="/src/index.html">
          <img
            class="favorites-gallery__img"
            srcset="
              /src/images/favorites/chicken268.png 268w,
              /src/images/favorites/chicken315.png 315w,
              /src/images/favorites/chicken536.png 536w,
              /src/images/favorites/chicken630.png 630w
            "
            sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 320px) 224px"
            src="/src/images/favorites/chicken315.png"
            alt="chicken"
          />
        </a>
      </li>
      <li class="favorites-gallery__item favorites-gallery__item--invisible">
        <a class="favorites-gallery__link" href="/src/index.html">
          <img
            class="favorites-gallery__img"
            srcset="
              /src/images/favorites/salat268.png 268w,
              /src/images/favorites/salat315.png 315w,
              /src/images/favorites/salat536.png 536w,
              /src/images/favorites/salat630.png 630w
            "
            sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 320px) 224px"
            src="/src/images/favorites/salat315.png"
            alt="salad"
          />
        </a>
      </li>
      <li class="favorites-gallery__item favorites-gallery__item--invisible">
        <a class="favorites-gallery__link" href="/src/index.html">
          <img
            class="favorites-gallery__img"
            srcset="
              /src/images/favorites/borshch268.png 268w,
              /src/images/favorites/borshch315.png 315w,
              /src/images/favorites/borshch536.png 536w,
              /src/images/favorites/borshch630.png 630w
            "
            sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 320px) 224px"
            src="/src/images/favorites/borshch315.png"
            alt="borshch"
          />
        </a>
      </li>
    </ul>
  </div>
  <div class="anchor" id="customers-say"></div>
</section>
