<footer class="footer">
  <div class="container">
    <div class="footer-block">
      <div class="footer-nav">
        <a class="logo-footer" href="./index.html">
          <svg width="71px" height="52px">
            <use href="./images/icons/icons.svg#logo"></use>
          </svg>
        </a>
        <ul class="footer-list">
          <li class="footer-nav__item">
            <a href="#home" class="footer-nav__link">Home</a>
          </li>
          <li class="footer-nav__item">
            <a href="#offerins" class="footer-nav__link">Offerings</a>
          </li>
          <li class="footer-nav__item">
            <a href="#favorites" class="footer-nav__link">Favorites</a>
          </li>
          <li class="footer-nav__item">
            <a href="#customers-say" class="footer-nav__link">Customers Say</a>
          </li>
          <li class="footer-nav__item">
            <a href="#subscribe" class="footer-nav__link">Subscribe</a>
          </li>
        </ul>
      </div>
      <div class="footer-form">
        <h3 class="footer-form__title">Subscribe</h3>
        <form class="subscribe__form subscribe__form--footer">
          <label>
            <input
              class="subscribe__input subscribe__input--footer"
              type="email"
              name="mail"
              placeholder="Enter your email"
              required
            />
            <span class="subscribe__warning">
              <svg class="subscribe__icon" width="11px" height="11px">
                <use href="./images/icons/icons.svg#warning"></use>
              </svg>
              Not a valid email address (example@email.com)</span
            >
          </label>
          <button class="button footer-form__button" type="submit">
            Subscribe
          </button>
        </form>
        <p class="footer__agreement">
          By subscribing you agree to with our
          <a class="footer-form__link" href="./index.html"> Privacy Policy</a>
        </p>
      </div>
    </div>

    <div class="footer-tab">
      <ul class="footer-site">
        <li class="footer-site__item">
          <a class="footer-site__link" href="./index.html">Privacy Policy</a>
        </li>
        <li class="footer-site__item">
          <a class="footer-site__link" href="./index.html">Terms of Service</a>
        </li>
        <li class="footer-site__item">
          <a class="footer-site__link" href="./index.html">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer-rights">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
