<footer class="footer">
  <div class="container">
    <div class="footer-nav">
      <a href="">
        <svg width="71px" height="52px">
          <use href="./images/icons/icons.svg#logo"></use>
        </svg>
      </a>
      <ul class="footer-list">
        <li class="footer-nav__iten">
          <a href="#home" class="footer-nav__link">Home</a>
        </li>
        <li class="footer-nav__iten">
          <a href="#offerins" class="footer-nav__link">Offerins</a>
        </li>
        <li class="footer-nav__iten">
          <a href="#favorites" class="footer-nav__link">Favorites</a>
        </li>
        <li class="footer-nav__iten">
          <a href="#customers-say" class="footer-nav__link">Customers Say</a>
        </li>
        <li class="footer-nav__iten">
          <a href="#subscribe" class="footer-nav__link">Subscribe</a>
        </li>
      </ul>

      <form class="fotter-form">
        <h3 class="fotter-form__legend">Subscribe</h3>
        <label class="">
          <input
            type="email"
            name="mail"
            class="fotter-form__mail"
            placeholder="Enter your email"
          />
        </label>

        <button type="submit" class="footer__button">Subscribe</button>
        <p class="footter__information">
          By subscribing you agree to with our
          <a class="footer__link" href=""> Privacy Policy</a>
        </p>
      </form>
    </div>

    <div class="fotter-tab">
      <ul class="footter-site">
        <li class="footter-site__iten">
          <a class="footter-site__link" href="">Privacy Policy</a>
        </li>
        <li class="footter-site__iten">
          <a class="footter-site__link" href="">Terms of Service</a>
        </li>
        <li class="footter-site__iten">
          <a class="footter-site__link" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer-rights">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
