<footer class="footer">
  <div class="container">
    <div class="footer-nav">
      <a href="">
        <svg width="71px" height="52px">
          <use href="./images/icons/icons.svg#logo"></use>
        </svg>
      </a>
      <ul class="footer-list">
        <li class="footer-nav__iten">
          <a href="" class="footer-nav__link">Home</a>
        </li>
        <li class="footer-nav__iten">
          <a href="" class="footer-nav__link">Offerins</a>
        </li>
        <li class="footer-nav__iten">
          <a href="" class="footer-nav__link">Favorites</a>
        </li>
        <li class="footer-nav__iten">
          <a href="" class="footer-nav__link">Customers Say</a>
        </li>
        <li class="footer-nav__iten">
          <a href="" class="footer-nav__link">Subscribe</a>
        </li>
      </ul>

      <form class="footer-form">
        <h3 class="footer-form__title">Subscribe</h3>
        <label class="">
          <input
            class="footer-form__input"
            s
            type="email"
            name="mail"
            placeholder="Enter your email"
          />
          <span> Not a valid email address (example@email.com) </span>
        </label>

        <button type="submit" class="button footer-form__button">
          Subscribe
        </button>
        <p class="footer__agreement">
          By subscribing you agree to with our
          <a class="footer-form__link" href=""> Privacy Policy</a>
        </p>
      </form>
    </div>

    <div class="footer-tab">
      <ul class="footer-site">
        <li class="footer-site__iten">
          <a class="footer-site__link" href="">Privacy Policy</a>
        </li>
        <li class="footer-site__iten">
          <a class="footer-site__link" href="">Terms of Service</a>
        </li>
        <li class="footer-site__iten">
          <a class="footer-site__link" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer-rights">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
