<header id="home" class="header">
  <div class="container header__container">
    <a href="" class="logo">
      <svg width="71px" height="52px">
        <use href="./images/icons/icons.svg#logo"></use>
      </svg>
    </a>

    <nav class="header-nav is-open" data-menu>
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a href="#home" class="header-nav-link">Home</a>
        </li>
        <li class="header-nav__item">
          <a href="" class="header-nav-link">Hero</a>
        </li>
        <li class="header-nav__item">
          <a href="" class="header-nav-link">Offerins</a>
        </li>
        <li class="header-nav__item">
          <a href="" class="header-nav-link">Favorites</a>
        </li>
        <li class="header-nav__item">
          <a href="" class="header-nav-link">Customers Say</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="button header__button">Order Now</button>
  </div>

  <button type="button" class="menu-button" data-menu-button>
    <svg class="menu-button__icon" width="28px" height="28px">
      <use
        href="./images/icons/icons.svg#mobile_menu"
        class="menu-button__menu"
      ></use>
      <use
        href="./images/icons/icons.svg#mobile_menu"
        class="menu-button__close"
      ></use>
    </svg>
  </button>
</header>
