<!--HERO-->

<section class="section__hero">
  <div class="container">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button type="button" class="hero__button" data-modal-open>
      Order Now
    </button>
  </div>

  <!--SLIDER MUST BE HERE-->
  <div>
    <button class="hero-slider__btn" type="button"></button>
    <img />
    <button class="hero-slider__btn" type="button"></button>
  </div>
</section>
