<!--OFFERINGS-->

<section class="section__offering" id="offerings">
  <div class="container">
    <div class="offerings__apple-mega-box">
      <div>
        <div class="offering__apple-box">
          <div class="offerings__apple-border">
            <img
              srcset="
                ./images/offerings/apple202.png 202w,
                ./images/offerings/apple258.png 258w,
                ./images/offerings/apple396.png 396w,
                ./images/offerings/apple404.png 404w,
                ./images/offerings/apple515.png 516w,
                ./images/offerings/apple792.png 792w
              "
              sizes="(min-width: 1280px) 396px, (min-width: 768px) 258px, (min-width: 320px) 202px, 100vw"
              class="offerings__apple-img"
              src="./images/offerings/apple202.png"
              alt="an apple"
            />
            <div class="offerings__shadow"></div>
          </div>
        </div>
      </div>
      <div class="offerings__flex-desktop">
        <h2 class="offerings__title">What’s Special About Our Offerings</h2>
        <p class="offerings__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <div class="offerings__flex">
          <div class="">
            <div class="offerings__icon-box">
              <svg class="offerings__icons" width="34" height="34">
                <use href="./images/icons/icons.svg#rocket"></use>
              </svg>
            </div>
            <h3 class="offerings__icons-title">Fasest Delivery</h3>
            <p class="offerings__icons-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </div>
          <div class="">
            <div class="offerings__icon-box">
              <svg class="offerings__icons" width="33" height="34">
                <use href="./images/icons/icons.svg#touch"></use>
              </svg>
            </div>
            <h3 class="offerings__icons-title">Easy To Order</h3>
            <p class="offerings__icons-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </div>
        </div>
        <div>
          <button class="offerings__btn" type="button">Order Now</button>
          <a class="offerings__link-text">
            <span>Read More</span>
            <svg class="offerings__link-icon" width="9" height="9">
              <use href="./images/icons/icons.svg#arrow-next"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
