<section class="subscribe">
  <div class="container container--position">
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form class="subscribe__form">
      <label>
        <input
          class="subscribe__input"
          type="email"
          name="mail"
          placeholder="Enter your email"
          required
        />
      </label>
      <span>Not a valid email address (example@email.com)</span>
      <button class="button subscribe__button" type="submit">Subscribe</button>
    </form>
    <img
      class="subscribe__img"
      srcset="
        ./images/subscribe/banan161.png   161w,
        ./images/subscribe/banan281.png   281w,
        ./images/subscribe/banan322.png   322w,
        ./images/subscribe/banan546.png   546w,
        ./images/subscribe/banan562.png   562w,
        ./images/subscribe/banan1092.png 1092w
      "
      sizes="(min-width: 1200px) 546px, (min-width: 768px) 281px, (max-width: 767px) 161px"
      src="./images/subscribe/banan546.png"
      alt="жовтий банан"
      width="546"
      height="266"
    />
  </div>
</section>
