.footer-form {
  position: relative;
}

.footer-form__title {
  margin-bottom: 12px;
}

.footer-form__input {
  width: 100%;
  padding: 12px;
  font-size: 12px;
  line-height: 150%;
  border-radius: 30px;
  outline: transparent;

  &:valid {
    border: 0.854167px solid $dark-green-color;
  }

  &:invalid {
    border: 0.854167px solid #ff705d;
  }

  &:placeholder-shown {
    border: 0.854167px solid $yellow-main-color;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 82px;
  }
  @media screen and (min-width: 768px) {
    width: 279px;
    margin-right: 14px;
    margin-bottom: 12px;
  }
}

.footer-form__button {
  width: 102px;
  height: 42px;
  padding: 11px;
  color: $black-color;
  background-color: $white-color;
  border: 0.854167px solid $dark-green-color;
  border-radius: 30px;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 62px;
    right: 0;
    transform: translateY(75%);
  }

  &:hover {
    background-color: $yellow-main-color;
  }
}

.footer__agreement {
  margin-bottom: 60px;
  font-size: 10px;
  line-height: calc(12 / 10);

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.footer-form__link {
  color: $dark-green-color;
}
