.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
  background-image: url(../images/footer/footer-bg320.png);
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/footer/footer-bg640.png);
  }

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/footer/footer-bg785.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/footer-bg1570.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/footer/footer-bg1211.png);
    background-size: 1248px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/footer-bg2422.png);
    }
  }
}
.footer-block {
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer-nav {
  display: flex;

  @media screen and (max-width: 1279px) {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

.footer-list {
  @extend %list;
  margin-left: 81px;
  padding: 0px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 114px;
    gap: 28px;
  }
}

.footer-nav__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
.footer-nav__link {
  text-decoration: none;
  line-height: 1.14;
  color: $text-color-black;
  transition: color $timing-function;
  &:hover,
  &:focus {
    color: $dark-green-color;
  }
}

.footer-tab {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer__link {
  font-size: 10px;
  line-height: 1.2;
  color: $dark-green-color;
}

.footer-rights {
  font-size: 10px;
  line-height: 1.2;

  text-align: center;

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: 0px;
    font-size: 12px;
    line-height: 1.7;
  }
}

.footer-form__title {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 150%;
}

.footer-form {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 100px;
  }
}

.subscribe__form--footer {
  margin-bottom: 20px;
}

.subscribe__input--footer {
  @media screen and (min-width: 768px) {
    width: 279px;
  }
}

.footer-form__button {
  display: block;
  margin-left: auto;
  width: 102px;
  height: 42px;
  padding: 11px;
  color: $black-color;
  background-color: $white-color;
  border: 0.854167px solid $dark-green-color;
  border-radius: 30px;
  transition: background-color $timing-function;

  &:hover,
  &:focus {
    background-color: $yellow-main-color;
  }
}

.footer__agreement {
  font-size: 10px;
  line-height: calc(12 / 10);

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.footer-form__link {
  color: $dark-green-color;
}

.footer-site {
  display: flex;
  gap: 32px;
  margin-bottom: 40px;
  padding: 0px;
  justify-content: space-around;

  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}

.footer-site__item {
  @extend %list;
  padding: 0px;
}

.footer-site__link {
  font-size: 10px;
  line-height: 1.2;
  color: $dark-green-color;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.67;
  }
}
