// HERO

.section__hero {
  padding-top: 60px;
  padding-bottom: 73px;

  @media screen and (min-width: 1280px) {
    padding-top: 159px;
    padding-bottom: 164px;
  }
}

.hero__container {
  position: relative;
}

.hero__title {
  margin-bottom: 28px;
  font-size: 28px;
  line-height: calc(33 / 28);

  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 44px;
    width: 537px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 48px;
    margin-bottom: 28px;
    width: 502px;
  }
}

.hero__text {
  margin-bottom: 30px;
  line-height: calc(21 / 14);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    width: 336px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 502px;
  }
}

.hero__button {
  line-height: calc(21 / 14);
  width: 100px;
  padding-top: 6px;
  padding-bottom: 5px;
  background-color: $light-green-color;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #b5ff00;
  }
}

/**
  |============================
  | Slider
  |============================
*/

.slider_js {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    top: 69px;
    right: 32px;
    position: absolute;
  }

  @media screen and (min-width: 1280px) {
    top: -145px;
    right: 16px;
  }
}

.slider__area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 320px;

  @media screen and (min-width: 1280px) {
    width: 580px;
    height: 580px;
  }
  position: relative;
}

.slider__field {
  overflow: hidden;
  justify-content: center;
  align-content: stretch;
  border: 14px solid $yellow-main-color;
  border-radius: 50%;
  width: 320px;
  height: 320px;

  @media screen and (min-width: 1280px) {
    width: 580px;
    height: 580px;
    border-width: 26px;
  }
}

.hero-slider__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 28px;
  padding: 0;
  border-width: 0;
  border-radius: 4px;
  background-color: $white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 10;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;

    .slider__icon {
      fill: $dark-green-color;
    }
  }

  cursor: pointer;

  &:last-child {
    position: absolute;
    top: 146px;
    right: -10px;

    @media screen and (min-width: 1280px) {
      top: 270px;
      right: -10px;
    }
  }

  &:first-child {
    position: absolute;
    top: 146px;
    left: -10px;

    @media screen and (min-width: 1280px) {
      top: 270px;
      left: -10px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 48px;
    height: 40px;
  }
}

.slider__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider__arrow {
  width: 20px;
  height: 25px;

  @media screen and (min-width: 1280px) {
    height: 30px;
    width: 35px;
  }
}
