.subscribe {
  padding: 50px 20px 60px 20px;
  outline: 2px solid red;
}

.subscribe__title {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 120%;
}

.subscribe__text {
  margin-bottom: 40px;
}

.subscribe__input {
  width: 279px;
  padding: 12px;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
}

.subscribe__button {
  padding-top: 10px;
  padding-bottom: 11px;
}
