.subscribe {
  padding-top: 50px;
  padding-bottom: 122px;

  @media screen and (min-width: 768px) {
    padding-top: 156px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 66px;
    padding-bottom: 36px;
  }
}

.container--position {
  position: relative;
}

.subscribe__title {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 120%;

  @media screen and (min-width: 768px) {
    font-size: 42px;
  }
}

.subscribe__text {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 656px;
    font-size: 16px;
    line-height: 150%;
  }
}

.subscribe__form {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.subscribe__input {
  display: block;
  margin-bottom: 4px;
  width: 100%;
  padding: 12px;
  font-size: 12px;
  line-height: 150%;
  border-radius: 30px;
  outline: transparent;

  &:valid {
    border: 0.854167px solid $dark-green-color;
  }

  &:invalid {
    border: 0.854167px solid #ff705d;
  }

  &:placeholder-shown {
    border: 0.854167px solid $yellow-main-color;
  }

  @media screen and (min-width: 768px) {
    width: 395px;
    margin-right: 22px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 32px;
  }
}

.subscribe__input:not(:placeholder-shown):focus:invalid:required,
.subscribe__input:not(:placeholder-shown):invalid:required
  ~ .subscribe__warning {
  opacity: 1;
}

.subscribe__warning {
  display: flex;
  margin-bottom: 1px;
  align-items: center;
  font-size: 10px;
  line-height: 150%;
  color: #ff705d;
  opacity: 0;
  transition: opacity $timing-function;
}

.subscribe__icon {
  margin-right: 4px;
}

.subscribe__button {
  display: block;
  height: 42px;
  padding-top: 10px;
  padding-bottom: 11px;
  transition: background-color $timing-function;

  &:hover,
  &:focus {
    background-color: $light-green-hover;
  }

  @media screen and (max-width: 767px) {
    margin-left: auto;
  }
}

.subscribe__img {
  position: absolute;

  @media screen and (max-width: 767px) {
    top: -17px;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 161px;
    height: 78px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    top: -16px;
    right: 0;
    transform: translateY(-100%);
    width: 281px;
    height: 136px;
  }

  @media screen and (min-width: 1280px) {
    top: 0;
    right: 0;
    transform: translateY(-18%);
  }
}
